.modal {
    position: fixed;
    bottom: 20px;
    right: 10px;
    padding: 25px;
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.close {
    position: absolute;
    top: 0;
    right: 5px;
    color: orange;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
