* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100vw;
    height: 7%;
    display: flex;
    gap: 50px;
    padding: 0 30%;
    justify-content: space-around;
    align-items: center;
    background-color: grey;

    a {
        padding: 3%;
        text-decoration: none;
        color: white;
    }
    .active {
        color: lightcoral;
        cursor: default;
    }

}



